In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv('data/customers.csv')

In [4]:
customers.head()

   CustomerID         Country first_invoices_time
0     17850.0  United Kingdom        12/1/10 8:26
1     13047.0  United Kingdom        12/1/10 8:34
2     12583.0          France        12/1/10 8:45
3     13748.0  United Kingdom        12/1/10 9:00
4     15100.0  United Kingdom        12/1/10 9:09

In [5]:
invoices = pd.read_csv('data/invoices.csv')

In [6]:
invoices.head()

  InvoiceNo  CustomerID first_item_purchases_time
0    536365     17850.0              12/1/10 8:26
1    536366     17850.0              12/1/10 8:28
2    536367     13047.0              12/1/10 8:34
3    536368     13047.0              12/1/10 8:34
4    536369     13047.0              12/1/10 8:35

In [7]:
purchases = pd.read_csv('data/item_purchases.csv')

In [9]:
purchases.head()

   item_purchase_id InvoiceNo StockCode  Quantity   InvoiceDate  UnitPrice
0                 0    536365    85123A         6  12/1/10 8:26       2.55
1                 1    536365     71053         6  12/1/10 8:26       3.39
2                 2    536365    84406B         8  12/1/10 8:26       2.75
3                 3    536365    84029G         6  12/1/10 8:26       3.39
4                 4    536365    84029E         6  12/1/10 8:26       3.39

In [12]:
items = pd.read_csv('data/items.csv',encoding = "ISO-8859-1")

In [14]:
items.head()

  StockCode                          Description first_item_purchases_time
0     21730    GLASS STAR FROSTED T-LIGHT HOLDER              12/1/10 8:26
1     22752         SET 7 BABUSHKA NESTING BOXES              12/1/10 8:26
2     71053                  WHITE METAL LANTERN              12/1/10 8:26
3    84029E       RED WOOLLY HOTTIE WHITE HEART.              12/1/10 8:26
4    84029G  KNITTED UNION FLAG HOT WATER BOTTLE              12/1/10 8:26